
body {
	background-color: #1a1a1a;
	background-image: -moz-radial-gradient(50% 18%, circle cover, #1a1a1a, #030303 100%);
	background-image: -webkit-radial-gradient(50% 18%, circle cover, #1a1a1a, #030303 100%);
	background-image: -o-radial-gradient(50% 18%, circle cover, #1a1a1a, #030303 100%);
	background-image: -ms-radial-gradient(50% 18%, circle cover, #1a1a1a, #030303 100%);
	background-image: radial-gradient(50% 18%, circle cover, #1a1a1a, #030303 100%)
	background-size: 100% 100%;
	padding:0;
}

#header {
	margin-bottom:50px;
}

#instrumentNames {
  width:760px;
  position:relative;
  margin:0 auto;
  padding-left: 25px;
  opacity:0.4;
  padding-bottom:10px;
  margin-bottom: 20px;
}
#instrumentNames span {
  display: block;
  float: left;
  opacity:0.8;
  font-weight: normal;
  text-align: center;
  font-size:0.7em;
  box-sizing: border-box;
/*  border: 1px solid gray;*/
  color: #ccc;
  text-transform: uppercase;
}
#instrumentNames #bass { width: 70px; text-shadow:0px 0px 10px #A70267; }
#instrumentNames #beat { width: 72px; text-shadow:0px 0px 10px #F10C49;  }
#instrumentNames #keys { width: 72px; text-shadow:0px 0px 10px #FB6B41;  }
#instrumentNames #guitar { width: 161px; text-shadow:0px 0px 10px #F6D86B;  }
#instrumentNames #synth { width: 161px; text-shadow:0px 0px 10px #339194;  }
#instrumentNames #voice { width: 189px; text-shadow:0px 0px 10px #A70267;  }
#instrumentNames #scroll { width: 15px; text-shadow:0px 0px 1px #fff;  }



#timeSlices {
  background-color: black;
  width:760px;
  padding:17px 0;
  box-shadow:0px 0px 5px rgba(255,255,255,0.1);
  border-radius:3px;
  overflow: hidden;
  position:relative;
  margin:0 auto;
  clear:both;

}
#timeSlices * {
  -webkit-user-select: none;
}
#timeSlices .timeSlice {
/*      margin: 5px;*/
/*      height: 100px;*/
	height:17px;
	cursor: ns-resize;
	padding-left: 17px;
	border-radius:3px;

}

#timeSlices .timeSlice:hover {
  background-color: #222;
}
#timeSlices .timeSlice.active {
  background-color: #444 !important;
}



#timeSlices .timeSlice .name {
  display: inline-block;
  width: 100px;
  text-align:right;
  padding-right: 10px;
}
#timeSlices .timeSlice .files {
  display: inline-block;
}
.sample {
  float:left;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  border-radius:3px;
  cursor: pointer;
  opacity: 0.3;
  --webkit-transition: 500ms all;
  --moz-transition: 500ms all;
  --ms-transition: 500ms all;
  --o-transition: 500ms all;
  transition: 500ms all;
}
.sample:hover {
	opacity:0.7;
}


.sample.highlight {
  background: white;
 

}

.sample.lastOfInstrument {
  margin-right: 4px;
}

.sample.Bass { background: #A70267; }
.sample.Beat { background: #F10C49; }
.sample.Keys { background: #FB6B41; }
.sample.OtherGuitar { background: #F6D86B; }
.sample.RythmGuitar { background: #F6D86B; }
.sample.Synth2 { background: #339194; }
.sample.Synth { background: #339194; }
.sample.Voice { background: #A70267; }


.sample.enabled {
/*      background: #3C3;*/
  opacity: 1;
  background-image: -o-linear-gradient(90deg , rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 20%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.4) 100%);
  background-image: -moz-linear-gradient(90deg , rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 20%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.4) 100%);
  background-image: -webkit-linear-gradient(90deg , rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 20%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.4) 100%);
  background-image: -ms-linear-gradient(90deg , rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 20%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.4) 100%);
  background-image: linear-gradient(90deg , rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 20%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.4) 100%);
background-size: 100% 100%;

}

.timeSlice.active .sample.enabled {


	 background-image: -o-linear-gradient(270deg , rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.4) 100%);
  background-image: -moz-linear-gradient(270deg , rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.4) 100%);
  background-image: -webkit-linear-gradient(270deg , rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.4) 100%);
  background-image: -ms-linear-gradient(270deg , rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.4) 100%);
  background-image: linear-gradient(270deg , rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 40%, rgba(255,255,255,0) 60%, rgba(255,255,255,0.4) 100%);
	background-size: 100% 100%;
}

