

#timeSlices {
  background-color: #EEE;
  width:697px;
  position:relative;
  margin:0 auto;

}
#timeSlices .timeSlice {
/*      margin: 5px;*/
/*      height: 100px;*/
	height:17px;
}
#timeSlices .timeSlice .name {
  display: inline-block;
  width: 100px;
  text-align:right;
  padding-right: 10px;
}
#timeSlices .timeSlice .files {
  display: inline-block;
}
.sample {
  float:left;
  border: 1px solid black;
  height: 15px;
  width: 15px;
  cursor: pointer;
  opacity: 0.3;
  --webkit-transition: 500ms all;
  --moz-transition: 500ms all;
  --ms-transition: 500ms all;
  --o-transition: 500ms all;
  transition: 500ms all;
}
.sample:hover {
	opacity:0.7;
}

.sample.enabled {
/*      background: #3C3;*/
  opacity: 1;
}
.sample.highlight {
  background: white;
}

.sample.Bass { background: red; }
.sample.Beat { background: blue; }
.sample.Keys { background: green; }
.sample.OtherGuitar { background: purple; }
.sample.RythmGuitar { background: teal; }
.sample.Synth2 { background: orange; }
.sample.Synth { background: gray; }
.sample.Voice { background: brown; }